---
---
// --- Imports ---

@import "variables";

// Bulma.io CSS Framework
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";

// Font-Awesome
@import "font-awesome/font-awesome.scss";

// --- Overrides ---

// Layout
.section {
  background-color: $grey-lighter;
  border-bottom: 2px dotted;
  border-color: $white;
}

// --- Custom ---

.article-container {
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
}